.parent {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* To take full viewport height */
  }
  

  .child {
    width: 50%; /* Set a width for the child */
    height: 50%; /* Set a height for the child */
    // background-color: lightblue; /* Example background */
  }
  