<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" *ngIf="!navShow">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']" > <img style="margin-top: -2%;"src="./assets/images/logo/e-logo-2.svg   " alt="" width="120px">  <span style="font-weight: 700;font-family: inherit;color: #3d3185;"> | BOARD </span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']"> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/meeting']"> Schedule Meeting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/meeting-list']"> Meetings</a>
                </li>
        
                 <!--
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/project_boards_overview']"> Project Boards Overview</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/team']"> Sprint Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/report']"> Report</a>
                </li> -->
               
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/document']"> Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ui/integrationapps']"> Integration With Appps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"(click)="opensettings(setting)"> Settings</a>
                </li>
               <!--  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']"> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/test']"> Testing Component (Dev)</a>
                </li>
                -->
            </ul>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i> Vijay Jadhav
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" [routerLink]="['/']"><i class="bi bi-gear"></i> Settings</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/login']"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                        <!-- <li><a class="dropdown-item" [routerLink]="['/register']"><i class="bi bi-door-open"></i> Login</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>











<ng-template #setting let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Setting</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-column flex-shrink-0" style="width: 100%">
            <ul class="nav nav-pills flex-column mb-auto">
              <li *ngFor="let item of menuItems; let i = index" class="nav-item">
                <a class="nav-link" [class.active]="i === activeTab" (click)="setActiveTab(i)">{{ item }}</a>
              </li>
            </ul>
            <hr>
            <div class="dropdown">
              <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="User avatar" width="32" height="32" class="rounded-circle me-2">
                <strong>Vijay Jadhav</strong>
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" >New project...</a></li>
                <li><a class="dropdown-item" >Settings</a></li>
                <li><a class="dropdown-item" >Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" >Sign out</a></li>
              </ul>
            </div>
          </div>
    </div>
</div>

	</div>
</ng-template>