<div class="row">
<div class="col-md-12 mb-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <i class="bi bi-calendar2-event"></i> All Meetings
        </div>
        <div class="card-body">
            <div class="categories">
                <!-- <button 
                  *ngFor="let category of categories" 
                  mat-button 
                  [ngClass]="{'btn-primary': category === selectedCategory, 'btn-default': category !== selectedCategory}" 
                  (click)="selectCategory(category)">
                  {{ category }}
                </button> -->
              </div>
              
              <div class="list-group mt-3">
                <a *ngFor="let meeting of filteredMeetings" 
                  href="#" 
                  class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ meeting.title }}</h5>
                    <small class="text-muted">{{ meeting.time }}</small>
                  </div>
                  <p class="mb-1">{{ meeting.description }}</p>
                  <small><i class="bi bi-people-fill"></i> {{ meeting.participants }} Participants</small>
                </a>
              </div>
              
        </div>
    </div>
</div>
</div>